@charset "UTF-8";
section{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.hero{
    background-image: url(/image/bread1.jpg);
    text-align: center;
    padding-top: 10vh;
}